.container1{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 40px;

align-items: center;

}
.flexboxItem {
  flex: 1;
  position: relative;

}
.btn-custom{
    background-color: pink;
    border: none;
     width: 50%;
    height: 5vw;
}
.btn-macaroni{
    background-color: pink;
    border: none; width: 50%;
    height: 5vw;
}
    
.btn-cupcake{
    background-color: pink;
    border: none;
    width: 50%;
    height: 5vw;
}
.img{
    width: 30vw;
    height: 200px;
object-fit: cover; 

}

.flexboxItem1 {
  flex: 1;
  position: relative;

}
.container2{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 40px;

align-items: center;
}
.header-collection{
     margin-top: 0px;
    margin-bottom: -1px;
    align-items: flex-end;
    text-align: center;
    
}
.btn-holiday{
    position: absolute;
    margin-right: 80px;
}
.test{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
}