.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background:pink;
}
.logo{
    font-size: 2rem;
    color: #b86b8d;
}
.nav-links{
    display: flex;
    gap: 2rem;
    list-style: none;
    background-color: pink;
}
.nav-links a {
    text-decoration: none;
    color: #555;
    text-transform: uppercase;
    font-size: 0.9rem;
}
.order-btn{
    cursor: pointer;

}
